server:
  port: ${BACKEND_PORT}
spring:
  data:
    mongodb:
      uri: mongodb://${MONGO_DB_USERNAME}:${MONGO_DB_PASSWORD}@${MONGO_DB_HOST}:${MONGO_DB_PORT}/${MONGO_DB_DATABASE_NAME}?authSource=admin&tls=${MONGO_DB_SSL_ENABLED:false}
    redis:
      host: ${REDIS_HOST}
      port: ${REDIS_PORT}
      password: ${REDIS_PASSWORD}
      database: ${REDIS_DATABASE:0}
      timeout: ${REDIS_TIMEOUT:5000ms}
      ssl:
        enabled: ${REDIS_SSL_ENABLED:false}
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${GITHUB_OAUTH2_CLIENT_ID}
            client-secret: ${GITHUB_OAUTH2_CLIENT_SECRET}
            scope:
              - user:email
              - read:user
          google:
            client-id: ${GOOGLE_OAUTH2_CLIENT_ID}
            client-secret: ${GOOGLE_OAUTH2_CLIENT_SECRET}
            scope:
              - openid
              - email
              - profile

  devtools:
    restart:
      enabled: ${DEV_MODE:false}
      additional-paths: src/main

logging:
  level:
    io.stereov: ${LOG_LEVEL:DEBUG}

singularity:
  app:
    name: ${APP_NAME}
    base-uri: ${BACKEND_BASE_URL}
    support-email: ${SUPPORT_EMAIL}
    secure: ${SECURE:false}
    create-root-user: ${CREATE_ROOT_USER}
    root-email: ${ROOT_EMAIL}
    root-password: ${ROOT_PASSWORD}
  auth:
    geolocation:
      enabled: true
      database-directory: ${GEOLOCATION_DIRECTORY}
      account-id: ${MAXMIND_ACCOUNT_ID}
      license-key: ${MAXMIND_LICENSE_KEY}
      download: ${GEOLOCATION_DOWNLOAD:true}
    allow-header-authentication: false
    oauth2:
      enable: true
      error-redirect-uri: ${OAUTH2_ERROR_REDIRECT_URI}
    two-factor:
      totp:
        recovery-code:
          length: 10
          count: 6
  file:
    storage:
      type: ${STORAGE_TYPE}
      local:
        file-directory: ${FILE_STORAGE_DIRECTORY}
      s3:
        domain: ${S3_DOMAIN}
        bucket: ${S3_BUCKET}
        access-key: ${S3_ACCESS_KEY}
        secret-key: ${S3_SECRET_KEY}
        scheme: ${S3_SCHEME}
        path-style-access-enabled: ${S3_PATH_STYLE_ACCESS_ENABLED}
        path: ${S3_PATH:app}
  secrets:
    store: ${SECRET_STORE_TYPE}
    key-rotation-cron: 0 0 4 1 1,4,7,10 *
    cache-expiration: 900000
    local:
      secret-directory: ${SECRET_STORE_DIRECTORY}
    vault:
      host: ${VAULT_HOST}
      port: ${VAULT_PORT}
      token: ${VAULT_TOKEN}
      scheme: ${VAULT_SCHEME}
      engine: ${VAULT_ENGINE}
  email:
    enable: true
    host: ${MAIL_HOST}
    port: ${MAIL_PORT}
    email: ${MAIL_EMAIL}
    username: ${MAIL_USERNAME}
    password: ${MAIL_PASSWORD}
    transport-protocol: ${MAIL_TRANSPORT_PROTOCOL:smtp}
    smtp-auth: ${MAIL_SMTP_AUTH:true}
    smtp-starttls: ${MAIL_SMTP_STARTTLS:true}
    debug: ${MAIL_DEBUG:false}
    send-cooldown: ${MAIL_VERIFICATION_SEND_COOLDOWN:60}
  security:
    jwt:
      expires-in: 900
    rate-limit:
      ip-limit: 2000
      ip-time-window: 1
      user-limit: 2000
      user-time-window: 1
    login-attempt-limit:
      ip-limit: 1000
      ip-time-window: 1
  ui:
    base-uri: ${UI_BASE_URL}
    icon-uri: ${ICON_URL}
    primary-color: ${UI_PRIMARY_COLOR:#6366f1}
  content:
    tags:
      - key: music
        translations:
          EN:
            name: Music
          DE:
            name: Musik
      - key: arts
        translations:
          EN:
            name: Arts
          DE:
            name: Kunst
      - key: coding
        translations:
          EN:
            name: Coding
          DE:
            name: Programmieren
    content-uri: ${UI_BASE_URL}/{contentType}/{contentKey}

sentry:
  dsn: ${SENTRY_DSN}
  traces-sample-rate: ${SENTRY_TRACES_SAMPLE_RATE:0.01}
  environment: ${SENTRY_ENVIRONMENT:production}
  release: ${SENTRY_RELEASE}