server:
  port: 8000

spring:
  data:
    mongodb:
      uri: mongodb://${MONGO_DB_USERNAME:singularity}:${MONGO_DB_PASSWORD:singularity}@${MONGO_DB_HOST:localhost}:${MONGO_DB_PORT:27017}/${MONGO_DB_DATABASE_NAME:test-application}?authSource=admin&tls=false
    redis:
      host: ${REDIS_HOST:localhost}
      port: ${REDIS_PORT:6379}
      password: ${REDIS_PASSWORD:singularity}
      database: 0
      timeout: 5000ms
      ssl:
        enabled: false
  devtools:
    restart:
      enabled: false
      additional-paths: src/main
  security:
    oauth2:
      client:
        registration:
          github:
            client-id: ${GITHUB_OAUTH2_CLIENT_ID}
            client-secret: ${GITHUB_OAUTH2_CLIENT_SECRET}
            scope:
              - user:email
              - read:user

logging:
  level:
    io.stereov: DEBUG

singularity:
  auth:
    allow-header-authentication: true
    prefer-header-authentication: true
    geolocation:
      enabled: true
      database-directory: .data/demo/geolocation
      account-id: ${MAXMIND_ACCOUNT_ID}
      license-key: ${MAXMIND_LICENSE_KEY}
    two-factor:
      totp:
        recovery-code:
          length: 10
          count: 6
    oauth2:
      enable: true
  app:
    name: TestApplication
    base-url: ${BACKEND_BASE_URL:http://localhost:8000}
    support-mail: support@example.com
    secure: false
    create-root-user: true
    root-email: root@example.com
    root-password: very-secure-root-password
    default-locale: en
  email:
    enable: false
  file:
    storage:
      type: local
      local:
        file-directory: .data/demo/files
  secrets:
    store: local
    local:
      secret-directory: ./.data/demo/secrets
    key-rotation-cron: 0 0 4 1 1,4,7,10 *
    cache-expiration: 900000
  security:
    jwt:
      expires-in: 900
    rate-limit:
      ip-limit: 10000
      ip-time-window: 1
      user-limit: 10000
      user-time-window: 1
    login-attempt-limit:
      ip-limit: 10000
      ip-time-window: 1
  ui:
    base-url: ${UI_BASE_URL:http://localhost:3000}

sentry:
  dsn: ${SENTRY_DSN}
  traces-sample-rate: ${SENTRY_TRACES_SAMPLE_RATE:0.01}
  environment: ${SENTRY_ENVIRONMENT:production}
  release: ${SENTRY_RELEASE}