openapi: 3.1.0
info:
  title: Singularity API
  description: "Welcome to the *Singularity*! \n\nThis documentation covers the ready-to-use\
    \ endpoints \nfor authentication, user management, and content management that\
    \ come pre-configured with \n*Singularity*.\n\n**Features at a Glance**:\n\n-\
    \ **Authentication & User Management:** Includes JWT auth with refresh tokens,\
    \ 2FA, \n  email verification, and role-based access control.\n  \n- **Data &\
    \ Content Management:** Endpoints for interacting with a content management \n\
    \  system that supports multi-language content, configurable tagging, and built-in\
    \ \n  access control. A prebuilt `Article` class is also provided.\n  \n- **Performance\
    \ & Security:** The API is built with a focus on production-readiness, \n  including\
    \ rate limiting and secret manager integration with automated key rotation.\n\n\
    This API is a foundation for building robust backend services, microservices,\
    \ or \nfull-stack applications.\n\n>**Note:** Some endpoints require explicit\
    \ configuration to be enabled."
  contact:
    name: Stereov
    url: https://stereov.io
    email: contact@stereov.io
  license:
    name: GPLv3 License
    url: https://www.gnu.org/licenses/gpl-3.0.en.html
  version: 1.0.0
servers:
- url: https://singularity.stereov.io
  description: Demo server
- url: http://localhost:8000
  description: Local development server
tags:
- name: Authentication
  description: Operations related to user authentication.
- name: Two-Factor Authentication
  description: Operations related to two-factor authentication
- name: OAuth2
  description: Operations related to connecting and disconnecting identity providers
    to existing accounts.
- name: Sessions
  description: Operations related to session management.
- name: Roles
  description: Operations related to roles.
- name: Groups
  description: Operation related to group and member management.
- name: Managing Users
  description: Operations related to user management.
- name: Profile Management
  description: Operations related to principal settings.
- name: Security
  description: Operations related to managing the servers security.
- name: Articles
  description: Operations related to articles
- name: Content Management
  description: Operations related to management of content of all types.
- name: Invitations
  description: Operations related to invitations.
- name: Tags
  description: Operations related to tags.
- name: Local File Storage
  description: Access files served by the local file storage
paths:
  /api/auth/register:
    post:
      tags:
      - Authentication
      summary: Register
      description: "Registers a new user account with `email`, `password`, and `name`.\n\
        If successful, the user will receive an email with a link to verify the email\
        \ address\nif email is [enabled and configured correctly](https://singularity.stereov.io/docs/guides/email/configuration).\n\
        \n### Requirements\n- The `email` should be a valid email address (e.g., \"\
        test@example.com\")\n  that is not associated to an existing account.\n- The\
        \ `password` must be at least 8 characters long and include at least one uppercase\
        \ letter, \n  one lowercase letter, one number, and one special character\
        \ (!@#$%^&*()_+={}[]|\\:;'\"<>,.?/).\n\n### Behavior for Registering Principal\
        \ with Existing Email\n\nIf the email is already connected to an existing\
        \ account, a [warning](https://singularity.stereov.io/docs/guides/auth/security-alerts#core-identity-alerts)\n\
        will be sent to the corresponding email address informing the user\nif email\
        \ is [enabled and configured correctly](https://singularity.stereov.io/docs/guides/email/configuration).\n\
        \n### Locale\n\nA locale can be specified for this request. \nThis will be\
        \ used for the email verification email.\nYou can learn more about email verification\
        \ [here](https://singularity.stereov.io/docs/guides/auth/authentication#email-verification).\n\
        \nIf no locale is specified, the applications default locale will be used.\n\
        You can learn more about configuring the default locale [here](https://singularity.stereov.io/docs/guides/configuration)."
      externalDocs:
        url: https://singularity.stereov.io/docs/guides/auth/authentication#registering-users
      operationId: register
      parameters:
      - name: send-email
        in: query
        required: false
        schema:
          type: boolean
      - name: locale
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/RegisterUserRequest"
        required: true
      responses:
        "200":
          description: "Request was successful. An email was sent to the given email\
            \ address. If this email exists, a notification will be send. If the email\
            \ doesn't exist, an account will be created."
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "304":
          description: |-
            The following error codes correspond to this status:
            * **`ALREADY_AUTHENTICATED`:** Principal is already authenticated.
          content:
            application/json:
              schema: {}
        "500":
          description: |-
            The following error codes correspond to this status:
            * **`DATABASE_FAILURE`:** Exception representing a general failure related to database operations.
            * **`HASH_FAILURE`:** Exception representing a general failure related to hashing operations.
          content:
            application/json:
              schema: {}
        "207":
          description: |-
            The following error codes correspond to this status:
            * **`POST_COMMIT_SIDE_EFFECT_FAILURE`:** Exception representing a failure to perform a side effect after a successful database operation.
          content:
            application/json:
              schema: {}
      security:
      - {}
      - {}
  /api/auth/login:
    post:
      tags:
      - Authentication
      summary: Login
      description: "Authenticates a user with `email` and `password`.\n\nA [login\
        \ alert](https://singularity.stereov.io/docs/guides/auth/security-alerts#core-identity-alerts)\
        \ \nwill be sent to the user's email if this setting is enabled\nemail is\
        \ [enabled and configured correctly](https://singularity.stereov.io/docs/guides/email/configuration).\n\
        \nIf there is an account associated with the given email address but this\
        \ account did not set up\npassword authentication, an [Identity Provider Information](https://singularity.stereov.io/docs/guides/auth/security-alerts#no-account-information)\n\
        email will be sent if email is enabled.\n\n**Optional session data:**\n- The\
        \ `session` object can be included in the request body.\n- Inside the `session`\
        \ object, you can provide the following optional fields:\n    - `browser`:\
        \ The name of the browser used (e.g., \"Chrome\", \"Firefox\").\n    - `os`:\
        \ The operating system of the device (e.g., \"Windows\", \"macOS\", \"Android\"\
        ).\n\nThis information helps users identify and manage authorized sessions,\
        \ improving overall account security.\n\n**2FA:**\n\nIf the user enabled 2FA,\
        \ the user will not be authenticated immediately. \nInstead, a [`TwoFactorAuthenticationToken`](https://singularity.stereov.io/docs/guides/auth/tokens#two-factor-authentication-token)\
        \ \nis set as HTTP-only cookie and returned in the response body\nif [header\
        \ authentication](https://singularity.stereov.io/docs/guides/auth/authentication#header-authentication)\
        \ is enabled.\n\nYou can complete the login through the endpoint [`POST /api/auth/2fa/login`](https://singularity.stereov.io/docs/api/complete-login).\n\
        \n### Locale\n\nA locale can be specified for this request. \nThis will be\
        \ used for the email 2FA code if this method is enabled for the user.\nYou\
        \ can learn more about 2FA through email [here](https://singularity.stereov.io/docs/guides/auth/two-factor#email).\n\
        \nIf no locale is specified, the applications default locale will be used.\n\
        You can learn more about configuring the default locale [here](https://singularity.stereov.io/docs/guides/configuration).\n\
        \n### Tokens\n- If 2FA is disabled and the request is successful, \n  [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token)\
        \ \n  and [`RefreshToken`](https://singularity.stereov.io/docs/guides/auth/tokens#refresh-token)\
        \ \n  will automatically be set as HTTP-only cookies.\n  If [header authentication](https://singularity.stereov.io/docs/guides/auth/authentication#header-authentication)\
        \ is enabled,\n  [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token)\
        \ and \n  [`RefreshToken`](https://singularity.stereov.io/docs/guides/auth/tokens#refresh-token)\
        \ \n  will be returned in the response body and can be used as \n  bearer\
        \ tokens in the authorization header for upcoming requests."
      externalDocs:
        url: https://singularity.stereov.io/docs/guides/auth/authentication#login
      operationId: login
      parameters:
      - name: locale
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/LoginRequest"
        required: true
      responses:
        "200":
          description: Authentication successful. Returns tokens and user details.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "304":
          description: |-
            The following error codes correspond to this status:
            * **`ALREADY_AUTHENTICATED`:** Principal is already authenticated.
          content:
            application/json:
              schema: {}
        "500":
          description: |-
            The following error codes correspond to this status:
            * **`DATABASE_FAILURE`:** Exception representing a general failure related to database operations.
            * **`TWO_FACTOR_AUTHENTICATION_TOKEN_ENCODING_FAILURE`:** Represents an exception that occurs during the encoding process of an two-factor authentication token.
            * **`TWO_FACTOR_AUTHENTICATION_TOKEN_SECRET_FAILURE`:** Represents an exception that occurs when there is a failure related to the secret required for creating an  two-factor authentication token.
            * **`INVALID_PRINCIPAL_DOCUMENT`:** A requested principal document was stored in an invalid format.
            * **`ACCESS_TOKEN_CACHE_FAILURE`:** Thrown when an access token could not be created due to an exception in the access token whitelist.
            * **`ACCESS_TOKEN_ENCODING_FAILURE`:** Represents an exception that occurs during the encoding process of an access token.
            * **`ACCESS_TOKEN_CREATION_FAILURE`:** Thrown when a generic exception occurred during the creation of an access token.
            * **`ACCESS_TOKEN_INVALID_PRINCIPAL_DOCUMENT_FAILURE`:** Indicates that the principal document associated with the access token is invalid.
            * **`ACCESS_TOKEN_SECRET_FAILURE`:** Represents an exception that occurs when there is a failure related to the secret required for creating an access token.
            * **`REFRESH_TOKEN_ENCODING_FAILURE`:** Represents an exception that occurs during the encoding process of a refresh token.
            * **`REFRESH_TOKEN_CREATION_FAILURE`:** Thrown when a generic exception occurred during the creation of an access token.
            * **`REFRESH_TOKEN_INVALID_PRINCIPAL_DOCUMENT_FAILURE`:** Indicates that the principal document associated with the access token is invalid.
            * **`REFRESH_TOKEN_SECRET_FAILURE`:** Represents an exception that occurs when there is a failure related to the secret required for creating a refresh token.
            * **`REFRESH_TOKEN_SESSION_UPDATE_FAILURE`:** Thrown when an exception occurs when updating the user sessions after creating a new refresh token.
          content:
            application/json:
              schema: {}
        "401":
          description: |-
            The following error codes correspond to this status:
            * **`INVALID_CREDENTIALS`:** Invalid credentials.
          content:
            application/json:
              schema: {}
        "207":
          description: |-
            The following error codes correspond to this status:
            * **`USER_AVATAR_MAPPING_FAILURE`:** Failed to map avatar metadata.
          content:
            application/json:
              schema: {}
      security:
      - accessTokenHeader: []
      - accessTokenCookie: []
  /api/auth/logout:
    post:
      tags:
      - Authentication
      summary: Logout
      description: "Invalidates the current session's [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token)s\
        \ \nand [`RefreshToken`](https://singularity.stereov.io/docs/guides/auth/tokens#refresh-token)s.\n\
        \n### Tokens\n- To perform the logout, an [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token)\
        \ is required.\n- If successful, all cookies related to the user's session\
        \ will be invalidated."
      externalDocs:
        url: https://singularity.stereov.io/docs/guides/auth/authentication#logout
      operationId: logout
      responses:
        "200":
          description: Logout successful.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "500":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_ALLOWLIST_READING_FAILURE`:** Represents an exception indicating a failure when reading the allowlist for an access token cache.
            * **`DATABASE_FAILURE`:** Exception representing a general failure related to database operations.
          content:
            application/json:
              schema: {}
        "401":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_EXPIRED`:** Indicates that the access token is expired.
            * **`ACCESS_TOKEN_INVALID`:** Indicates that the access token cannot be decoded.
          content:
            application/json:
              schema: {}
        "304":
          description: |-
            The following error codes correspond to this status:
            * **`ALREADY_LOGGED_OUT`:** User is already logged out.
          content:
            application/json:
              schema: {}
        "404":
          description: |-
            The following error codes correspond to this status:
            * **`USER_NOT_FOUND`:** User not found.
          content:
            application/json:
              schema: {}
      security:
      - accessTokenHeader: []
      - accessTokenCookie: []
  /api/auth/refresh:
    post:
      tags:
      - Authentication
      summary: Refresh Access EmailVerificationTokenCreation
      description: "Request a new [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token).\n\
        \n### Tokens\n- Requires a valid [`RefreshToken`](https://singularity.stereov.io/docs/guides/auth/tokens#refresh-token).\n\
        - If successful, [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token)\
        \ and \n  [`RefreshToken`](https://singularity.stereov.io/docs/guides/auth/tokens#refresh-token)\
        \ \n  will automatically be set as HTTP-only cookies.\n  If [header authentication](https://singularity.stereov.io/docs/guides/auth/authentication#header-authentication)\
        \ is enabled,\n  [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token)\
        \ and \n  [`RefreshToken`](https://singularity.stereov.io/docs/guides/auth/tokens#refresh-token)\n\
        \  will be returned in the response body and can be used as \n  bearer tokens\
        \ in the authorization header for upcoming requests."
      externalDocs:
        url: https://singularity.stereov.io/docs/guides/auth/authentication#refresh
      operationId: refreshAccessToken
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SessionInfoRequest"
      responses:
        "200":
          description: Authentication successful. Returns tokens and user details.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/RefreshTokenResponse"
        "401":
          description: |-
            The following error codes correspond to this status:
            * **`REFRESH_TOKEN_EXPIRED`:** Indicates that the refresh token is expired.
            * **`REFRESH_TOKEN_INVALID`:** Indicates that the refresh token cannot be decoded.
            * **`REFRESH_TOKEN_MISSING`:** Thrown when the refresh token is missing.
          content:
            application/json:
              schema: {}
        "500":
          description: |-
            The following error codes correspond to this status:
            * **`DATABASE_FAILURE`:** Exception representing a general failure related to database operations.
            * **`DATABASE_ENCRYPTION_FAILURE`:** Exception representing a general failure related to database encryption operations.
            * **`ACCESS_TOKEN_CACHE_FAILURE`:** Thrown when an access token could not be created due to an exception in the access token whitelist.
            * **`ACCESS_TOKEN_ENCODING_FAILURE`:** Represents an exception that occurs during the encoding process of an access token.
            * **`ACCESS_TOKEN_CREATION_FAILURE`:** Thrown when a generic exception occurred during the creation of an access token.
            * **`ACCESS_TOKEN_INVALID_PRINCIPAL_DOCUMENT_FAILURE`:** Indicates that the principal document associated with the access token is invalid.
            * **`ACCESS_TOKEN_SECRET_FAILURE`:** Represents an exception that occurs when there is a failure related to the secret required for creating an access token.
            * **`REFRESH_TOKEN_ENCODING_FAILURE`:** Represents an exception that occurs during the encoding process of a refresh token.
            * **`REFRESH_TOKEN_CREATION_FAILURE`:** Thrown when a generic exception occurred during the creation of an access token.
            * **`REFRESH_TOKEN_INVALID_PRINCIPAL_DOCUMENT_FAILURE`:** Indicates that the principal document associated with the access token is invalid.
            * **`REFRESH_TOKEN_SECRET_FAILURE`:** Represents an exception that occurs when there is a failure related to the secret required for creating a refresh token.
            * **`REFRESH_TOKEN_SESSION_UPDATE_FAILURE`:** Thrown when an exception occurs when updating the user sessions after creating a new refresh token.
            * **`INVALID_PRINCIPAL_DOCUMENT`:** A requested principal document was stored in an invalid format.
          content:
            application/json:
              schema: {}
        "404":
          description: |-
            The following error codes correspond to this status:
            * **`USER_NOT_FOUND`:** User not found.
          content:
            application/json:
              schema: {}
        "207":
          description: |-
            The following error codes correspond to this status:
            * **`USER_AVATAR_MAPPING_FAILURE`:** Failed to map avatar metadata.
          content:
            application/json:
              schema: {}
      security:
      - refreshTokenHeader: []
      - refreshTokenCookie: []
  /api/auth/step-up:
    post:
      tags:
      - Authentication
      summary: Step-Up
      description: "Requests [step-up authentification](https://singularity.stereov.io/docs/guides/auth/authentication#step-up).\
        \ \nThis re-authentication is required by critical endpoints.\n\n**2FA:**\n\
        \nIf the user enabled 2FA, the step-up will not be granted immediately. \n\
        Instead, a [`TwoFactorAuthenticationToken`](https://singularity.stereov.io/docs/guides/auth/tokens#two-factor-authentication-token)\
        \ \nis set as HTTP-only cookie and returned in the response body\nif [header\
        \ authentication](https://singularity.stereov.io/docs/guides/auth/authentication#header-authentication)\
        \ is enabled.\n\nYou can complete the step-up through the endpoint [`POST\
        \ /api/auth/2fa/step-up`](https://singularity.stereov.io/docs/api/complete-step-up).\n\
        \n**Request Body:**\n\nWhen requesting a step-up for a [`GUEST`](https://singularity.stereov.io/docs/guides/auth/roles#guests)\n\
        there is no way to authenticate the user.\nTherefore, no request body is required\
        \ in this case.\n\nIf you request a step-up for a regular [`USER`](https://singularity.stereov.io/docs/guides/auth/roles#users),\n\
        it will result in a `400 - BAD REQUEST`.\n\n### Locale\n\nA locale can be\
        \ specified for this request. \nThis will be used for the email 2FA code if\
        \ this method is enabled for the user.\nYou can learn more about 2FA through\
        \ email [here](/docs/guides/auth/two-factor#email).\n\nIf no locale is specified,\
        \ the applications default locale will be used.\nYou can learn more about\
        \ configuring the default locale [here](https://singularity.stereov.io/docs/guides/configuration).\n\
        \n### Tokens\n- Requires a valid [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token).\n\
        - If 2FA is disabled and the request is successful, [`StepUpToken`](https://singularity.stereov.io/docs/guides/auth/tokens#step-up-token)\n\
        \  will automatically be set as HTTP-only cookie.\n  If [header authentication](https://singularity.stereov.io/docs/guides/auth/authentication#header-authentication)\
        \ is enabled,\n  the [`StepUpToken`](https://singularity.stereov.io/docs/guides/auth/tokens#step-up-token)\n\
        \  will be returned in the response body and can be used to authorized critical\
        \ requests."
      externalDocs:
        url: https://singularity.stereov.io/docs/guides/auth/authentication#step-up
      operationId: stepUp
      parameters:
      - name: locale
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/StepUpRequest"
      responses:
        "200":
          description: Authentication successful.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/StepUpResponse"
        "500":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_ALLOWLIST_READING_FAILURE`:** Represents an exception indicating a failure when reading the allowlist for an access token cache.
            * **`DATABASE_FAILURE`:** Exception representing a general failure related to database operations.
            * **`DATABASE_ENCRYPTION_FAILURE`:** Exception representing a general failure related to database encryption operations.
            * **`TWO_FACTOR_AUTHENTICATION_TOKEN_ENCODING_FAILURE`:** Represents an exception that occurs during the encoding process of an two-factor authentication token.
            * **`TWO_FACTOR_AUTHENTICATION_TOKEN_SECRET_FAILURE`:** Represents an exception that occurs when there is a failure related to the secret required for creating an  two-factor authentication token.
            * **`HASH_FAILURE`:** Exception representing a general failure related to hashing operations.
            * **`STEP_UP_TOKEN_ENCODING_FAILURE`:** Represents an exception that occurs during the encoding process of a step-up token.
            * **`STEP_UP_TOKEN_SECRET_FAILURE`:** Represents an exception that occurs when there is a failure related to the secret required for creating a refresh token.
          content:
            application/json:
              schema: {}
        "401":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_EXPIRED`:** Indicates that the access token is expired.
            * **`ACCESS_TOKEN_INVALID`:** Indicates that the access token cannot be decoded.
            * **`INVALID_CREDENTIALS`:** Invalid credentials.
            * **`SESSION_EXPIRED`:** Indicates that the user's session has expired.
          content:
            application/json:
              schema: {}
        "404":
          description: |-
            The following error codes correspond to this status:
            * **`PRINCIPAL_NOT_FOUND`:** No principal with specified ID found.
          content:
            application/json:
              schema: {}
        "400":
          description: |-
            The following error codes correspond to this status:
            * **`MISSING_PASSWORD_PARAMETER`:** Indicates that the request is missing a password parameter.
            * **`NO_PASSWORD`:** Indicates that the user does not have a password set.
          content:
            application/json:
              schema: {}
        "403":
          description: |-
            The following error codes correspond to this status:
            * **`STEP_UP_TOKEN_CREATION_FORBIDDEN`:** Thrown when a step-up token is requested from an illegal context.
          content:
            application/json:
              schema: {}
      security:
      - accessTokenHeader: []
      - accessTokenCookie: []
  /api/auth/status:
    get:
      tags:
      - Authentication
      summary: Get Authentication Status
      description: |-
        Get detailed information about the current status authentication status of the user.

        This endpoint is primarily designed for cookie-based authentication.
        *Singularity* sets HTTP-only cookies by default which cannot be accessed via JavaScript.
        Therefore, you can use this endpoint to request if valid tokens are set.
      externalDocs:
        url: https://singularity.stereov.io/docs/guides/auth/authentication#status
      operationId: getAuthenticationStatus
      responses:
        "200":
          description: The current user's authentication status.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/AuthenticationStatusResponse"
        "500":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_ALLOWLIST_READING_FAILURE`:** Represents an exception indicating a failure when reading the allowlist for an access token cache.
            * **`DATABASE_FAILURE`:** Exception representing a general failure related to database operations.
            * **`DATABASE_ENCRYPTION_FAILURE`:** Exception representing a general failure related to database encryption operations.
          content:
            application/json:
              schema: {}
        "401":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_EXPIRED`:** Indicates that the access token is expired.
            * **`ACCESS_TOKEN_INVALID`:** Indicates that the access token cannot be decoded.
          content:
            application/json:
              schema: {}
        "404":
          description: |-
            The following error codes correspond to this status:
            * **`PRINCIPAL_NOT_FOUND`:** No principal with specified ID found.
          content:
            application/json:
              schema: {}
      security:
      - accessTokenHeader: []
        stepUpTokenHeader: []
        twoFactorAuthenticationTokenHeader: []
      - accessTokenCookie: []
        stepUpTokenCookie: []
        twoFactorAuthenticationTokenCookie: []
  /api/auth/password/reset-request:
    post:
      tags:
      - Authentication
      summary: Send Password Reset Email
      description: "Send a password reset request email to the user's email.\nYou\
        \ can learn more about the password reset [here](https://singularity.stereov.io/docs/guides/auth/authentication#password-reset).\n\
        \nWhen request a password reset through this endpoint\nand [email is enabled\
        \ in your application](https://singularity.stereov.io/docs/guides/email/configuration)\
        \ \nan email containing a link is sent to the user's email address.\nThis\
        \ link should point to the frontend of your application.\nYour frontend should\
        \ extract the token from the URL and send it to this endpoint with the\ntoken\
        \ as request parameter.\nYou can find more information about this [here](https://singularity.stereov.io/docs/guides/auth/authentication#password-reset).\n\
        \nYou can perform the reset using the token through the endpoint [`POST /api/auth/password/reset`](https://singularity.stereov.io/docs/api/reset-password).\n\
        \n>**Note:** If email is disabled, there is no way to reset the password.\n\
        \nIf there is no account associated with the given email address, \na [No\
        \ Principal Information](https://singularity.stereov.io/docs/guides/auth/security-alerts#no-account-information)\n\
        email will be sent to the given email address.\n\n### Locale\n\nA locale can\
        \ be specified for this request. \nThe email will be sent in the specified\
        \ locale.\nYou can learn more about locale in emails [here](https://singularity.stereov.io/docs/guides/email/templates).\n\
        \nIf no locale is specified, the applications default locale will be used.\n\
        You can learn more about configuring the default locale [here](https://singularity.stereov.io/docs/guides/configuration).\n\
        \n>**Note:** After each email, a cooldown will be started.\n>You can check\
        \ the status of the cooldown through the endpoint [`GET /api/auth/password/reset/cooldown`](https://singularity.stereov.io/docs/api/get-remaining-password-reset-cooldown).\n\
        >When the cooldown is active, no new email can be sent.\n>The cooldown can\
        \ be configured [here](https://singularity.stereov.io/docs/guides/email/configuration)."
      externalDocs:
        url: https://singularity.stereov.io/docs/guides/auth/authentication#password-reset
      operationId: sendPasswordResetEmail
      parameters:
      - name: locale
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/SendPasswordResetRequest"
        required: true
      responses:
        "200":
          description: The number of seconds the user needs to wait to send a new
            email.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SendEmailResponse"
        "429":
          description: |-
            The following error codes correspond to this status:
            * **`EMAIL_COOLDOWN_ACTIVE`:** Failed to send email because cooldown is active.
          content:
            application/json:
              schema: {}
        "500":
          description: |-
            The following error codes correspond to this status:
            * **`EMAIL_COOLDOWN_CACHE_FAILURE`:** Thrown when an exception occurs when setting or getting cooldown.
            * **`DATABASE_FAILURE`:** Exception representing a general failure related to database operations.
            * **`EMAIL_AUTHENTICATION_FAILURE`:** Thrown when there is a failure related to email authentication.
            * **`EMAIL_SEND_FAILURE`:** Represents an exception that occurs when an email cannot be sent.
            * **`EMAIL_TEMPLATE_FAILURE`:** Thrown when there is a failure related to email template creation.
            * **`PASSWORD_RESET_TOKEN_CREATION_FAILURE`:** Exception thrown when an error occurs during token generation.
          content:
            application/json:
              schema: {}
        "503":
          description: |-
            The following error codes correspond to this status:
            * **`EMAIL_DISABLED`:** Thrown when email functionality is disabled in the application.
          content:
            application/json:
              schema: {}
      security:
      - {}
      - {}
  /api/auth/password/reset:
    post:
      tags:
      - Authentication
      summary: Reset Password
      description: "Perform a password reset using a `token` you obtained the user\
        \ received in a password reset email.\nYou can learn more about the password\
        \ reset [here](https://singularity.stereov.io/docs/guides/auth/authentication#password-reset).\n\
        \nWhen request a password reset through [`POST /api/auth/password/reset-request`](https://singularity.stereov.io/docs/api/send-password-reset-email)\
        \ \nand [email is enabled in your application](https://singularity.stereov.io/docs/guides/email/configuration)\
        \ \nan email containing a link is sent to the user's email address.\nThis\
        \ link should point to the frontend of your application.\nYour frontend should\
        \ extract the token from the URL and send it to this endpoint with the\ntoken\
        \ as request parameter.\nYou can find more information about this [here](https://singularity.stereov.io/docs/guides/auth/authentication#password-reset).\n\
        \nIf successful, the user can log in using the new password afterwards.\n\n\
        You can resend this email through the endpoint [`POST /api/auth/password/reset-request`](https://singularity.stereov.io/docs/api/send-password-reset-email).\n\
        \n### Requirements\n- The `password` must be at least 8 characters long and\
        \ include at least one uppercase letter, \n  one lowercase letter, one number,\
        \ and one special character (!@#$%^&*()_+={}[]|\\:;'\"<>,.?/).\n\n### Locale\n\
        \nA locale can be specified for this request. \nThe email will be sent in\
        \ the specified locale.\nYou can learn more about locale in emails [here](https://singularity.stereov.io/docs/guides/email/templates).\n\
        \nIf no locale is specified, the applications default locale will be used.\n\
        You can learn more about configuring the default locale [here](https://singularity.stereov.io/docs/guides/configuration).\n\
        \n>**Note:** If email is disabled, there is no way to reset the password."
      externalDocs:
        url: https://singularity.stereov.io/docs/guides/auth/authentication#password-reset
      operationId: resetPassword
      parameters:
      - name: token
        in: query
        required: true
        schema:
          type: string
      - name: locale
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ResetPasswordRequest"
        required: true
      responses:
        "200":
          description: Success.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "401":
          description: |-
            The following error codes correspond to this status:
            * **`PASSWORD_RESET_TOKEN_EXPIRED`:** Indicates that the password reset token is expired.
            * **`PASSWORD_RESET_TOKEN_INVALID`:** Indicates that the password reset token cannot be decoded.
            * **`PASSWORD_RESET_TOKEN_MISSING`:** Thrown when the password reset token is missing.
          content:
            application/json:
              schema: {}
        "500":
          description: |-
            The following error codes correspond to this status:
            * **`PASSWORD_RESET_TOKEN_SECRET_FAILURE`:** Thrown when an exception occurs when trying to decrypt the secret stored inside the password reset token.
            * **`DATABASE_FAILURE`:** Exception representing a general failure related to database operations.
            * **`HASH_FAILURE`:** Exception representing a general failure related to hashing operations.
          content:
            application/json:
              schema: {}
        "207":
          description: |-
            The following error codes correspond to this status:
            * **`POST_COMMIT_SIDE_EFFECT_FAILURE`:** Exception representing a failure to perform a side effect after a successful database operation.
          content:
            application/json:
              schema: {}
        "404":
          description: |-
            The following error codes correspond to this status:
            * **`USER_NOT_FOUND`:** User not found.
          content:
            application/json:
              schema: {}
      security:
      - {}
      - {}
  /api/auth/password/reset/cooldown:
    get:
      tags:
      - Authentication
      summary: Get Remaining Password Reset CooldownActive
      description: |-
        Get the remaining time in seconds until you can send another password reset request.

        You can find more information about a password reset [here](https://singularity.stereov.io/docs/guides/auth/authentication#password-reset).
      externalDocs:
        url: https://singularity.stereov.io/docs/guides/auth/authentication#password-reset
      operationId: getRemainingPasswordResetCooldown
      parameters:
      - name: email
        in: query
        required: true
        schema:
          type: string
      responses:
        "200":
          description: The remaining cooldown.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/MailCooldownResponse"
      security:
      - {}
      - {}
  /api/auth/email/verification/send:
    post:
      tags:
      - Authentication
      summary: Send Email Verification Email
      description: "Send an email verification email to the user.\n\nThis endpoint\
        \ is for **resending** the verification email only.\nWhen registering a user\
        \ and [email is enabled in your application](https://singularity.stereov.io/docs/guides/email/configuration)\n\
        an email containing a link is automatically sent to the user's email address.\n\
        This link should point to the frontend of your application.\nYou can find\
        \ more information about this [here](https://singularity.stereov.io/docs/guides/auth/authentication#email-verification).\n\
        Your frontend should extract the token from the URL and send it to this endpoint\
        \ with the\ntoken as request parameter.\n\nYou can perform the verification\
        \ using the token through the endpoint [`POST /api/auth/email/verification`](https://singularity.stereov.io/docs/api/verify-email).\n\
        \n>**Note:** If email is disabled, there is no way to verify a user's email\
        \ address.\n\nIf there is no account associated with the given email address,\
        \ \na [No Principal Information](https://singularity.stereov.io/docs/guides/auth/security-alerts#no-account-information)\n\
        email will be sent to the given email address.\n\n### Locale\n\nA locale can\
        \ be specified for this request. \nThe email will be sent in the specified\
        \ locale.\nYou can learn more about locale in emails [here](https://singularity.stereov.io/docs/guides/email/templates).\n\
        \nIf no locale is specified, the applications default locale will be used.\n\
        You can learn more about configuring the default locale [here](https://singularity.stereov.io/docs/guides/configuration).\n\
        \n### Tokens\n- A valid [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token)\
        \ is required.\n\n>**Note:** After each email, a cooldown will be started.\n\
        >You can check the status of the cooldown through the endpoint [`GET /api/auth/email/verification/cooldown`](https://singularity.stereov.io/docs/api/get-remaining-email-verification-cooldown).\n\
        >When the cooldown is active, no new verification email can be sent.\n>The\
        \ cooldown can be configured [here](https://singularity.stereov.io/docs/guides/email/configuration)."
      externalDocs:
        url: https://singularity.stereov.io/docs/guides/docs/auth/authentication#email-verification
      operationId: sendEmailVerificationEmail
      parameters:
      - name: locale
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: The number of seconds the user needs to wait before sending
            a new email.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SendEmailResponse"
        "500":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_ALLOWLIST_READING_FAILURE`:** Represents an exception indicating a failure when reading the allowlist for an access token cache.
            * **`DATABASE_FAILURE`:** Exception representing a general failure related to database operations.
            * **`DATABASE_ENCRYPTION_FAILURE`:** Exception representing a general failure related to database encryption operations.
            * **`EMAIL_COOLDOWN_CACHE_FAILURE`:** Thrown when an exception occurs when setting or getting cooldown.
            * **`EMAIL_AUTHENTICATION_FAILURE`:** Thrown when there is a failure related to email authentication.
            * **`EMAIL_VERIFICATION_TOKEN_CREATION_FAILURE`:** Exception thrown when an error occurs during token creation.
            * **`EMAIL_SEND_FAILURE`:** Represents an exception that occurs when an email cannot be sent.
            * **`EMAIL_TEMPLATE_FAILURE`:** Thrown when there is a failure related to email template creation.
          content:
            application/json:
              schema: {}
        "401":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_EXPIRED`:** Indicates that the access token is expired.
            * **`ACCESS_TOKEN_INVALID`:** Indicates that the access token cannot be decoded.
          content:
            application/json:
              schema: {}
        "404":
          description: |-
            The following error codes correspond to this status:
            * **`USER_NOT_FOUND`:** User not found.
          content:
            application/json:
              schema: {}
        "304":
          description: |-
            The following error codes correspond to this status:
            * **`EMAIL_ALREADY_VERIFIED`:** User's email is already verified.
          content:
            application/json:
              schema: {}
        "429":
          description: |-
            The following error codes correspond to this status:
            * **`EMAIL_COOLDOWN_ACTIVE`:** Failed to send email because cooldown is active.
          content:
            application/json:
              schema: {}
        "503":
          description: |-
            The following error codes correspond to this status:
            * **`EMAIL_DISABLED`:** Thrown when email functionality is disabled in the application.
          content:
            application/json:
              schema: {}
      security:
      - accessTokenHeader: []
      - accessTokenCookie: []
  /api/auth/email/verification:
    post:
      tags:
      - Authentication
      summary: Verify Email
      description: "Verify the user's email address using the `token` the user received\
        \ a email verification email.\nYou can find more information about this [here](https://singularity.stereov.io/docs/guides/auth/authentication#email-verification).\n\
        \nWhen registering a user and [email is enabled in your application](https://singularity.stereov.io/docs/guides/email/configuration)\n\
        an email containing a link is sent to the user's email address.\nThis link\
        \ should point to the frontend of your application.\nYour frontend should\
        \ extract the token from the URL and send it to this endpoint with the\ntoken\
        \ as request parameter.\nYou can find more information about this [here](https://singularity.stereov.io/docs/guides/auth/authentication#email-verification).\n\
        \nYou can resend this email through the endpoint [`POST /api/auth/email/verification/send`](https://singularity.stereov.io/docs/api/send-email-verification-email).\n\
        \n### Locale\n\nA locale can be specified for this request. \nThe email will\
        \ be sent in the specified locale.\nYou can learn more about locale in emails\
        \ [here](https://singularity.stereov.io/docs/guides/email/templates).\n\n\
        If no locale is specified, the applications default locale will be used.\n\
        You can learn more about configuring the default locale [here](https://singularity.stereov.io/docs/guides/configuration).\n\
        \n>**Note:** If email is disabled, there is no way to verify a user's email\
        \ address."
      externalDocs:
        url: https://singularity.stereov.io/docs/guides/docs/auth/authentication#email-verification
      operationId: verifyEmail
      parameters:
      - name: token
        in: query
        required: true
        schema:
          type: string
      - name: locale
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Updated user information.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserResponse"
        "500":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_ALLOWLIST_READING_FAILURE`:** Represents an exception indicating a failure when reading the allowlist for an access token cache.
            * **`DATABASE_FAILURE`:** Exception representing a general failure related to database operations.
            * **`INVALID_PRINCIPAL_DOCUMENT`:** A requested principal document was stored in an invalid format.
          content:
            application/json:
              schema: {}
        "401":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_EXPIRED`:** Indicates that the access token is expired.
            * **`ACCESS_TOKEN_INVALID`:** Indicates that the access token cannot be decoded.
            * **`EMAIL_VERIFICATION_TOKEN_EXPIRED`:** Indicates that the email verification token is expired.
            * **`EMAIL_VERIFICATION_TOKEN_INVALID`:** Indicates that the email verification token cannot be decoded.
            * **`EMAIL_VERIFICATION_TOKEN_MISSING`:** Thrown when the email verification token is missing.
          content:
            application/json:
              schema: {}
        "304":
          description: |-
            The following error codes correspond to this status:
            * **`EMAIL_ALREADY_VERIFIED`:** User's email is already verified.
          content:
            application/json:
              schema: {}
        "207":
          description: |-
            The following error codes correspond to this status:
            * **`POST_COMMIT_SIDE_EFFECT_FAILURE`:** Exception representing a failure to perform a side effect after a successful database operation.
            * **`USER_AVATAR_MAPPING_FAILURE`:** Failed to map avatar metadata.
          content:
            application/json:
              schema: {}
        "404":
          description: |-
            The following error codes correspond to this status:
            * **`USER_NOT_FOUND`:** User not found.
          content:
            application/json:
              schema: {}
      security:
      - {}
      - {}
  /api/auth/email/verification/cooldown:
    get:
      tags:
      - Authentication
      summary: Get Remaining Email Verification CooldownActive
      description: |-
        Get the remaining time in seconds until you can send another email verification email.

        You can find more information about email verification [here](https://singularity.stereov.io/docs/guides/auth/authentication#email-verification).

        ### Tokens
        - A valid [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token) is required.
      externalDocs:
        url: https://singularity.stereov.io/docs/guides/docs/auth/authentication#email-verification
      operationId: getRemainingEmailVerificationCooldown
      responses:
        "200":
          description: The remaining cooldown.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/MailCooldownResponse"
        "500":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_ALLOWLIST_READING_FAILURE`:** Represents an exception indicating a failure when reading the allowlist for an access token cache.
            * **`DATABASE_FAILURE`:** Exception representing a general failure related to database operations.
            * **`DATABASE_ENCRYPTION_FAILURE`:** Exception representing a general failure related to database encryption operations.
          content:
            application/json:
              schema: {}
        "401":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_EXPIRED`:** Indicates that the access token is expired.
            * **`ACCESS_TOKEN_INVALID`:** Indicates that the access token cannot be decoded.
          content:
            application/json:
              schema: {}
        "404":
          description: |-
            The following error codes correspond to this status:
            * **`USER_NOT_FOUND`:** User not found.
          content:
            application/json:
              schema: {}
      security:
      - accessTokenHeader: []
      - accessTokenCookie: []
  /api/auth/2fa/login:
    post:
      tags:
      - Two-Factor Authentication
      summary: Complete Login
      description: "Complete second factor for login.\n\nYou can learn more about\
        \ the login flow [here](https://singularity.stereov.io/docs/guides/auth/authentication#login).\n\
        \n### Requirements\n- User authenticated using their password through [`POST\
        \ /api/auth/login`](https://singularity.stereov.io/docs/api/login).\n- At\
        \ least one of [email](https://singularity.stereov.io/docs/guides/auth/two-factor#email)\
        \ or [TOTP](https://singularity.stereov.io/docs/guides/auth/two-factor#totp)\
        \ as 2FA methods should be enabled.\n- An `email` or `totp` 2FA code is present\
        \ for an enabled 2FA method.\n  Check out [email](https://singularity.stereov.io/docs/guides/auth/two-factor#email)\
        \ and [TOTP](https://singularity.stereov.io/docs/guides/auth/two-factor#totp)\n\
        \  to learn how to retrieve a 2FA code.\n  \n**Optional session data:**\n\
        - The `session` object can be included in the request body.\n- Inside the\
        \ `session` object, you can provide the following optional fields:\n    -\
        \ `browser`: The name of the browser used (e.g., \"Chrome\", \"Firefox\").\n\
        \    - `os`: The operating system of the device (e.g., \"Windows\", \"macOS\"\
        , \"Android\").\n\nThis information helps users identify and manage authorized\
        \ sessions, improving overall account security.\n\n### Tokens\n- A valid [`TwoFactorAuthenticationToken`](https://singularity.stereov.io/docs/guides/auth/tokens#two-factor-authentication-token)\n\
        \  is required. This token will be set automatically as HTTP-only cookie through\
        \ [`POST /api/auth/login`](https://singularity.stereov.io/docs/api/login)\n\
        \  or can be retrieved from the response and set as header manually if [header\
        \ authentication](https://singularity.stereov.io/docs/guides/auth/authentication#header-authentication)\
        \ \n  is enabled.\n- If this action is successful, [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token)\
        \ and \n  [`RefreshToken`](https://singularity.stereov.io/docs/guides/auth/tokens#refresh-token)\
        \ \n  will automatically be set as HTTP-only cookies.\n  If [header authentication](https://singularity.stereov.io/docs/guides/auth/authentication#header-authentication)\
        \ is enabled,\n  [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token)\
        \ and \n  [`RefreshToken`](https://singularity.stereov.io/docs/guides/auth/tokens#refresh-token)\n\
        \  will be returned in the response body and can be used as \n  bearer tokens\
        \ in the authorization header for upcoming requests."
      externalDocs:
        url: https://singularity.stereov.io/docs/guides/auth/two-factor
      operationId: completeLogin
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteLoginRequest"
        required: true
      responses:
        "200":
          description: Information about the user and the tokens if header authentication
            is enabled.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/LoginResponse"
        "401":
          description: |-
            The following error codes correspond to this status:
            * **`TWO_FACTOR_AUTHENTICATION_TOKEN_EXPIRED`:** Indicates that the two-factor authentication token is expired.
            * **`TWO_FACTOR_AUTHENTICATION_TOKEN_INVALID`:** Indicates that the two-factor authentication token cannot be decoded.
            * **`TWO_FACTOR_AUTHENTICATION_TOKEN_MISSING`:** Thrown when the two-factor authentication token is missing.
            * **`TWO_FACTOR_CODE_EXPIRED`:** Two-factor code has expired.
            * **`TOTP_CODE_VALIDATION_FAILURE`:** Failed to validate TOTP code.
            * **`WRONG_TWO_FACTOR_CODE`:** Wrong two-factor code.
          content:
            application/json:
              schema: {}
        "500":
          description: |-
            The following error codes correspond to this status:
            * **`DATABASE_FAILURE`:** Exception representing a general failure related to database operations.
            * **`INVALID_USER_DOCUMENT`:** A requested user document was stored in an invalid format.
            * **`ACCESS_TOKEN_CACHE_FAILURE`:** Thrown when an access token could not be created due to an exception in the access token whitelist.
            * **`ACCESS_TOKEN_ENCODING_FAILURE`:** Represents an exception that occurs during the encoding process of an access token.
            * **`ACCESS_TOKEN_CREATION_FAILURE`:** Thrown when a generic exception occurred during the creation of an access token.
            * **`ACCESS_TOKEN_INVALID_PRINCIPAL_DOCUMENT_FAILURE`:** Indicates that the principal document associated with the access token is invalid.
            * **`ACCESS_TOKEN_SECRET_FAILURE`:** Represents an exception that occurs when there is a failure related to the secret required for creating an access token.
            * **`REFRESH_TOKEN_ENCODING_FAILURE`:** Represents an exception that occurs during the encoding process of a refresh token.
            * **`REFRESH_TOKEN_CREATION_FAILURE`:** Thrown when a generic exception occurred during the creation of an access token.
            * **`REFRESH_TOKEN_INVALID_PRINCIPAL_DOCUMENT_FAILURE`:** Indicates that the principal document associated with the access token is invalid.
            * **`REFRESH_TOKEN_SECRET_FAILURE`:** Represents an exception that occurs when there is a failure related to the secret required for creating a refresh token.
            * **`REFRESH_TOKEN_SESSION_UPDATE_FAILURE`:** Thrown when an exception occurs when updating the user sessions after creating a new refresh token.
            * **`INVALID_PRINCIPAL_DOCUMENT`:** A requested principal document was stored in an invalid format.
          content:
            application/json:
              schema: {}
        "400":
          description: |-
            The following error codes correspond to this status:
            * **`NO_2FA_CODE_PROVIDED`:** Invalid request: at least one of email or totp must be provided.
            * **`NO_PASSWORD_PROVIDER`:** The user needs to set a password in to perform this action.
            * **`2FA_DISABLED`:** User needs to set up two-factor authentication to complete this action.
          content:
            application/json:
              schema: {}
        "207":
          description: |-
            The following error codes correspond to this status:
            * **`POST_COMMIT_SIDE_EFFECT_FAILURE`:** Exception representing a failure to perform a side effect after a successful database operation.
            * **`USER_AVATAR_MAPPING_FAILURE`:** Failed to map avatar metadata.
          content:
            application/json:
              schema: {}
        "404":
          description: |-
            The following error codes correspond to this status:
            * **`USER_NOT_FOUND`:** User not found.
          content:
            application/json:
              schema: {}
      security:
      - twoFactorAuthenticationTokenHeader: []
      - twoFactorAuthenticationTokenCookie: []
  /api/auth/2fa/step-up:
    post:
      tags:
      - Two-Factor Authentication
      summary: Complete Step-Up
      description: |-
        Perform second factor for step-up.

        You can learn more about the step-up flow [here](https://singularity.stereov.io/docs/guides/auth/authentication#step-up).

        ### Requirements
        - User authenticated using their password through [`POST /api/auth/step-up`](https://singularity.stereov.io/docs/api/step-up).
        - At least one of [email](https://singularity.stereov.io/docs/guides/auth/two-factor#email) or [TOTP](https://singularity.stereov.io/docs/guides/auth/two-factor#totp) as 2FA methods should be enabled.
        - An `email` or `totp` 2FA code is present for an enabled 2FA method.
          Check out [email](https://singularity.stereov.io/docs/guides/auth/two-factor#email) and [TOTP](https://singularity.stereov.io/docs/guides/auth/two-factor#totp)
          to learn how to retrieve a 2FA code.

        ### Tokens
        - A valid [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token) is required.
        - A valid [`TwoFactorAuthenticationToken`](https://singularity.stereov.io/docs/guides/auth/tokens#two-factor-authentication-token)
          is required. This token should match user and session contained in the `AccessToken`.
        - If 2FA is disabled and the request is successful, [`StepUpToken`](https://singularity.stereov.io/docs/guides/auth/tokens#step-up-token)
          will automatically be set as HTTP-only cookie.
          If [header authentication](https://singularity.stereov.io/docs/guides/auth/authentication#header-authentication) is enabled,
          the [`StepUpToken`](https://singularity.stereov.io/docs/guides/auth/tokens#step-up-token)
          will be returned in the response body and can be used to authorized critical requests.
      externalDocs:
        url: https://singularity.stereov.io/docs/auth/two-factor
      operationId: completeStepUp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/CompleteStepUpRequest"
        required: true
      responses:
        "200":
          description: The token if header authentication is enabled.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/StepUpResponse"
        "401":
          description: |-
            The following error codes correspond to this status:
            * **`TWO_FACTOR_AUTHENTICATION_TOKEN_EXPIRED`:** Indicates that the two-factor authentication token is expired.
            * **`TWO_FACTOR_AUTHENTICATION_TOKEN_INVALID`:** Indicates that the two-factor authentication token cannot be decoded.
            * **`TWO_FACTOR_AUTHENTICATION_TOKEN_MISSING`:** Thrown when the two-factor authentication token is missing.
            * **`TWO_FACTOR_CODE_EXPIRED`:** Two-factor code has expired.
            * **`TOTP_CODE_VALIDATION_FAILURE`:** Failed to validate TOTP code.
            * **`WRONG_TWO_FACTOR_CODE`:** Wrong two-factor code.
            * **`ACCESS_TOKEN_EXPIRED`:** Indicates that the access token is expired.
            * **`ACCESS_TOKEN_INVALID`:** Indicates that the access token cannot be decoded.
          content:
            application/json:
              schema: {}
        "500":
          description: |-
            The following error codes correspond to this status:
            * **`DATABASE_FAILURE`:** Exception representing a general failure related to database operations.
            * **`INVALID_USER_DOCUMENT`:** A requested user document was stored in an invalid format.
            * **`ACCESS_TOKEN_ALLOWLIST_READING_FAILURE`:** Represents an exception indicating a failure when reading the allowlist for an access token cache.
            * **`STEP_UP_TOKEN_ENCODING_FAILURE`:** Represents an exception that occurs during the encoding process of a step-up token.
            * **`STEP_UP_TOKEN_SECRET_FAILURE`:** Represents an exception that occurs when there is a failure related to the secret required for creating a refresh token.
          content:
            application/json:
              schema: {}
        "400":
          description: |-
            The following error codes correspond to this status:
            * **`NO_2FA_CODE_PROVIDED`:** Invalid request: at least one of email or totp must be provided.
            * **`NO_PASSWORD_PROVIDER`:** The user needs to set a password in to perform this action.
            * **`2FA_DISABLED`:** User needs to set up two-factor authentication to complete this action.
          content:
            application/json:
              schema: {}
        "207":
          description: |-
            The following error codes correspond to this status:
            * **`POST_COMMIT_SIDE_EFFECT_FAILURE`:** Exception representing a failure to perform a side effect after a successful database operation.
          content:
            application/json:
              schema: {}
        "404":
          description: |-
            The following error codes correspond to this status:
            * **`USER_NOT_FOUND`:** User not found.
          content:
            application/json:
              schema: {}
        "403":
          description: |-
            The following error codes correspond to this status:
            * **`STEP_UP_TOKEN_CREATION_FORBIDDEN`:** Thrown when a step-up token is requested from an illegal context.
          content:
            application/json:
              schema: {}
      security:
      - accessTokenHeader: []
        twoFactorAuthenticationTokenHeader: []
      - accessTokenCookie: []
        twoFactorAuthenticationTokenCookie: []
  /api/auth/2fa/preferred-method:
    post:
      tags:
      - Two-Factor Authentication
      summary: Change Preferred 2FA Method
      description: "Change the preferred 2FA method.\n\nYou can learn more about 2FA\
        \ methods [here](https://singularity.stereov.io/docs/guides/auth/two-factor).\n\
        \n### Requirements\n- The user can authenticate using password. 2FA will not\
        \ work with OAuth2. \n  The OAuth2 provider will validate the second factor\
        \ if the user enabled it for the provider.\n- At least one of [email](https://singularity.stereov.io/docs/guides/auth/two-factor#email)\
        \ or [TOTP](https://singularity.stereov.io/docs/guides/auth/two-factor#totp)\
        \ as 2FA methods should be enabled.\n\n### Tokens\n- A valid [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token)\
        \ is required.\n- A valid [`StepUpToken`](https://singularity.stereov.io/docs/guides/auth/tokens#step-up-token)\n\
        \  is required. This token should match user and session contained in the\
        \ `AccessToken`."
      externalDocs:
        url: https://singularity.stereov.io/docs/guides/auth/two-factor#changing-the-preferred-method
      operationId: changePreferredTwoFactorMethod
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ChangePreferredTwoFactorMethodRequest"
        required: true
      responses:
        "200":
          description: Updated user information.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserResponse"
        "500":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_ALLOWLIST_READING_FAILURE`:** Represents an exception indicating a failure when reading the allowlist for an access token cache.
            * **`DATABASE_FAILURE`:** Exception representing a general failure related to database operations.
            * **`DATABASE_ENCRYPTION_FAILURE`:** Exception representing a general failure related to database encryption operations.
            * **`INVALID_USER_DOCUMENT`:** A requested user document was stored in an invalid format.
            * **`INVALID_PRINCIPAL_DOCUMENT`:** A requested principal document was stored in an invalid format.
          content:
            application/json:
              schema: {}
        "401":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_EXPIRED`:** Indicates that the access token is expired.
            * **`ACCESS_TOKEN_INVALID`:** Indicates that the access token cannot be decoded.
            * **`STEP_UP_TOKEN_EXPIRED`:** Indicates that the step-up token is expired.
            * **`STEP_UP_TOKEN_INVALID`:** Indicates that the step-up token cannot be decoded.
            * **`STEP_UP_TOKEN_MISSING`:** Thrown when the step-up token is missing.
          content:
            application/json:
              schema: {}
        "404":
          description: |-
            The following error codes correspond to this status:
            * **`USER_NOT_FOUND`:** User not found.
          content:
            application/json:
              schema: {}
        "400":
          description: |-
            The following error codes correspond to this status:
            * **`NO_PASSWORD_PROVIDER`:** The user needs to set a password in to perform this action.
            * **`2FA_DISABLED`:** User needs to set up two-factor authentication to complete this action.
          content:
            application/json:
              schema: {}
        "207":
          description: |-
            The following error codes correspond to this status:
            * **`POST_COMMIT_SIDE_EFFECT_FAILURE`:** Exception representing a failure to perform a side effect after a successful database operation.
            * **`USER_AVATAR_MAPPING_FAILURE`:** Failed to map avatar metadata.
          content:
            application/json:
              schema: {}
      security:
      - accessTokenHeader: []
        stepUpTokenHeader: []
      - accessTokenCookie: []
        stepUpTokenCookie: []
  /api/auth/2fa/totp/setup:
    get:
      tags:
      - Two-Factor Authentication
      summary: Get TOTP Setup Details
      description: "Get a TOTP secret, recovery codes and a TOTP URL.\nThis is the\
        \ first step to enabling TOTP as 2FA method.\nYou can learn more about this\
        \ [here](https://singularity.stereov.io/docs/guides/auth/two-factor#setup).\n\
        \nThe user needs to save the recovery codes and use the URL or the secret\
        \ to set up 2FA in their 2FA app.\n\nThis secret will be stored inside the\
        \ `token` contained in the response.\nThis `token` is required to enable TOTP.\n\
        Performing this request will not change the user's state in the database.\n\
        Therefore, the token is the single point of truth for validation.\nEvery request\
        \ will generate a new TOTP secret, new recovery codes and a new TOTP URL.\n\
        \nThe setup can be completed through the endpoint \n[`POST /api/auth/2fa/totp/setup`](https://singularity.stereov.io/docs/api/enable-totp-as-two-factor-method)\n\
        using the `token` and a 2FA code from an authenticator app.\n\n### Requirements\n\
        - The user can authenticate using password. 2FA will not work with OAuth2.\
        \ \n  The OAuth2 provider will validate the second factor if the user enabled\
        \ it for the provider.\n  \n### Tokens\n- A valid [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token)\
        \ is required.\n- A valid [`StepUpToken`](https://singularity.stereov.io/docs/guides/auth/tokens#step-up-token)\n\
        \  is required. This token should match user and session contained in the\
        \ `AccessToken`."
      externalDocs:
        url: https://singularity.stereov.io/docs/guides/auth/two-factor#setup
      operationId: getTotpSetupDetails
      responses:
        "200":
          description: "The TOTP secret, recovery codes, TOTP URL and setup token."
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/TwoFactorSetupResponse"
        "500":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_ALLOWLIST_READING_FAILURE`:** Represents an exception indicating a failure when reading the allowlist for an access token cache.
            * **`DATABASE_FAILURE`:** Exception representing a general failure related to database operations.
            * **`DATABASE_ENCRYPTION_FAILURE`:** Exception representing a general failure related to database encryption operations.
            * **`INVALID_CONFIGURATION`:** Invalid configuration.
            * **`INVALID_USER_DOCUMENT`:** A requested user document was stored in an invalid format.
            * **`TOTP_TOKEN_CREATION_FAILURE`:** Failed to create TOTP token.
            * **`TOTP_FAILURE`:** TOTP code validation failed.
          content:
            application/json:
              schema: {}
        "401":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_EXPIRED`:** Indicates that the access token is expired.
            * **`ACCESS_TOKEN_INVALID`:** Indicates that the access token cannot be decoded.
            * **`STEP_UP_TOKEN_EXPIRED`:** Indicates that the step-up token is expired.
            * **`STEP_UP_TOKEN_INVALID`:** Indicates that the step-up token cannot be decoded.
            * **`STEP_UP_TOKEN_MISSING`:** Thrown when the step-up token is missing.
          content:
            application/json:
              schema: {}
        "404":
          description: |-
            The following error codes correspond to this status:
            * **`USER_NOT_FOUND`:** User not found.
          content:
            application/json:
              schema: {}
        "304":
          description: |-
            The following error codes correspond to this status:
            * **`TWO_FACTOR_METHOD_ALREADY_ENABLED`:** Two-factor authentication method is already enabled.
          content:
            application/json:
              schema: {}
        "400":
          description: |-
            The following error codes correspond to this status:
            * **`NO_PASSWORD_PROVIDER`:** The user needs to set a password in to perform this action.
          content:
            application/json:
              schema: {}
      security:
      - accessTokenHeader: []
        stepUpTokenHeader: []
      - accessTokenCookie: []
        stepUpTokenCookie: []
    post:
      tags:
      - Two-Factor Authentication
      summary: Enable TOTP as 2FA Method
      description: "Complete the TOTP setup `token` from [`GET /api/auth/2fa/setup`](https://singularity.stereov.io/docs/api/get-totp-setup-details)\
        \ \nand a TOTP code from an authenticator app.\n\nYou can learn more about\
        \ this [here](https://singularity.stereov.io/docs/guides/auth/two-factor#setup).\n\
        \nA [security alert](https://singularity.stereov.io/docs/guides/auth/security-alerts#2fa-specific-alerts)\n\
        will be sent to the user's email if this setting is enabled and\nemail is\
        \ [enabled and configured correctly](https://singularity.stereov.io/docs/guides/email/configuration).\n\
        \n### Requirements\n- The user can authenticate using password. 2FA will not\
        \ work with OAuth2. \n  The OAuth2 provider will validate the second factor\
        \ if the user enabled it for the provider.\n  \n### Locale\n\nA locale can\
        \ be specified for this request. \nThe email will be sent in the specified\
        \ locale.\nYou can learn more about locale in emails [here](https://singularity.stereov.io/docs/guides/email/templates).\n\
        \nIf no locale is specified, the applications default locale will be used.\n\
        You can learn more about configuring the default locale [here](https://singularity.stereov.io/docs/guides/configuration).\n\
        \n### Tokens\n- A valid [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token)\
        \ is required.\n- A valid [`StepUpToken`](https://singularity.stereov.io/docs/guides/auth/tokens#step-up-token)\n\
        \  is required. This token should match user and session contained in the\
        \ `AccessToken`."
      externalDocs:
        url: https://singularity.stereov.io/docs/guides/auth/two-factor#setup
      operationId: enableTotpAsTwoFactorMethod
      parameters:
      - name: locale
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TwoFactorVerifySetupRequest"
        required: true
      responses:
        "200":
          description: Success.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/TwoFactorSetupResponse"
        "500":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_ALLOWLIST_READING_FAILURE`:** Represents an exception indicating a failure when reading the allowlist for an access token cache.
            * **`DATABASE_FAILURE`:** Exception representing a general failure related to database operations.
            * **`DATABASE_ENCRYPTION_FAILURE`:** Exception representing a general failure related to database encryption operations.
            * **`HASH_FAILURE`:** Exception representing a general failure related to hashing operations.
            * **`INVALID_USER_DOCUMENT`:** A requested user document was stored in an invalid format.
            * **`TOTP_FAILURE`:** TOTP code validation failed.
            * **`INVALID_PRINCIPAL_DOCUMENT`:** A requested principal document was stored in an invalid format.
          content:
            application/json:
              schema: {}
        "401":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_EXPIRED`:** Indicates that the access token is expired.
            * **`ACCESS_TOKEN_INVALID`:** Indicates that the access token cannot be decoded.
            * **`STEP_UP_TOKEN_EXPIRED`:** Indicates that the step-up token is expired.
            * **`STEP_UP_TOKEN_INVALID`:** Indicates that the step-up token cannot be decoded.
            * **`STEP_UP_TOKEN_MISSING`:** Thrown when the step-up token is missing.
            * **`TOTP_SETUP_TOKEN_EXPIRED`:** Indicates that the TOTP setup token is expired.
            * **`TOTP_SETUP_TOKEN_INVALID`:** Indicates that the TOTP setup token cannot be decoded.
            * **`TOTP_SETUP_TOKEN_MISSING`:** Thrown when the TOTP setup token is missing.
            * **`WRONG_TWO_FACTOR_CODE`:** Wrong two-factor code.
          content:
            application/json:
              schema: {}
        "404":
          description: |-
            The following error codes correspond to this status:
            * **`USER_NOT_FOUND`:** User not found.
          content:
            application/json:
              schema: {}
        "304":
          description: |-
            The following error codes correspond to this status:
            * **`TWO_FACTOR_METHOD_ALREADY_ENABLED`:** Two-factor authentication method is already enabled.
          content:
            application/json:
              schema: {}
        "400":
          description: |-
            The following error codes correspond to this status:
            * **`NO_PASSWORD_PROVIDER`:** The user needs to set a password in to perform this action.
          content:
            application/json:
              schema: {}
        "207":
          description: |-
            The following error codes correspond to this status:
            * **`POST_COMMIT_SIDE_EFFECT_FAILURE`:** Exception representing a failure to perform a side effect after a successful database operation.
            * **`USER_AVATAR_MAPPING_FAILURE`:** Failed to map avatar metadata.
          content:
            application/json:
              schema: {}
      security:
      - accessTokenHeader: []
        stepUpTokenHeader: []
      - accessTokenCookie: []
        stepUpTokenCookie: []
  /api/auth/2fa/totp:
    delete:
      tags:
      - Two-Factor Authentication
      summary: Disable TOTP as 2FA Method
      description: "Disable TOTP for the current user.\n\nA [security alert](https://singularity.stereov.io/docs/guides/auth/security-alerts#2fa-specific-alerts)\n\
        will be sent to the user's email if this setting is enabled and\nemail is\
        \ [enabled and configured correctly](https://singularity.stereov.io/docs/guides/email/configuration).\n\
        \nYou can learn more about this [here](https://singularity.stereov.io/docs/guides/auth/two-factor#setup).\n\
        \n### Locale\n\nA locale can be specified for this request. \nThe email will\
        \ be sent in the specified locale.\nYou can learn more about locale in emails\
        \ [here](https://singularity.stereov.io/docs/guides/email/templates).\n\n\
        If no locale is specified, the applications default locale will be used.\n\
        You can learn more about configuring the default locale [here](https://singularity.stereov.io/docs/guides/configuration).\n\
        \n### Tokens\n- A valid [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token)\
        \ is required.\n- A valid [`StepUpToken`](https://singularity.stereov.io/docs/guides/auth/tokens#step-up-token)\n\
        \  is required. This token should match user and session contained in the\
        \ `AccessToken`."
      externalDocs:
        url: https://singularity.stereov.io/docs/guides/auth/two-factor#disable
      operationId: disableTotpAsTwoFactorMethod
      parameters:
      - name: locale
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Success.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/UserResponse"
        "500":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_ALLOWLIST_READING_FAILURE`:** Represents an exception indicating a failure when reading the allowlist for an access token cache.
            * **`DATABASE_FAILURE`:** Exception representing a general failure related to database operations.
            * **`DATABASE_ENCRYPTION_FAILURE`:** Exception representing a general failure related to database encryption operations.
            * **`HASH_FAILURE`:** Exception representing a general failure related to hashing operations.
            * **`INVALID_USER_DOCUMENT`:** A requested user document was stored in an invalid format.
            * **`INVALID_PRINCIPAL_DOCUMENT`:** A requested principal document was stored in an invalid format.
          content:
            application/json:
              schema: {}
        "401":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_EXPIRED`:** Indicates that the access token is expired.
            * **`ACCESS_TOKEN_INVALID`:** Indicates that the access token cannot be decoded.
            * **`STEP_UP_TOKEN_EXPIRED`:** Indicates that the step-up token is expired.
            * **`STEP_UP_TOKEN_INVALID`:** Indicates that the step-up token cannot be decoded.
            * **`STEP_UP_TOKEN_MISSING`:** Thrown when the step-up token is missing.
          content:
            application/json:
              schema: {}
        "404":
          description: |-
            The following error codes correspond to this status:
            * **`USER_NOT_FOUND`:** User not found.
          content:
            application/json:
              schema: {}
        "304":
          description: |-
            The following error codes correspond to this status:
            * **`TWO_FACTOR_METHOD_ALREADY_DISABLED`:** Two factor method is already disabled.
          content:
            application/json:
              schema: {}
        "400":
          description: |-
            The following error codes correspond to this status:
            * **`CANNOT_DISABLE_ONLY_TWO_FACTOR_METHOD`:** Cannot disable only two-factor authentication method.
            * **`NO_PASSWORD_PROVIDER`:** The user needs to set a password in to perform this action.
          content:
            application/json:
              schema: {}
        "207":
          description: |-
            The following error codes correspond to this status:
            * **`POST_COMMIT_SIDE_EFFECT_FAILURE`:** Exception representing a failure to perform a side effect after a successful database operation.
            * **`USER_AVATAR_MAPPING_FAILURE`:** Failed to map avatar metadata.
          content:
            application/json:
              schema: {}
      security:
      - accessTokenHeader: []
        stepUpTokenHeader: []
      - accessTokenCookie: []
        stepUpTokenCookie: []
  /api/auth/2fa/totp/recover:
    post:
      tags:
      - Two-Factor Authentication
      summary: Recover From TOTP
      description: "Recover the user if they lost access to their 2FA device using\
        \ a recovery `code`.\nEach `code` is only valid once.\n\nYou can learn more\
        \ about recovery for TOTP [here](https://singularity.stereov.io/docs/guides/auth/two-factor#recovery).\n\
        \n### Requirements\n- The user can authenticate using password.\n- The user\
        \ enabled TOTP as 2FA method.\n\n**Optional session data:**\n- The `session`\
        \ object can be included in the request body.\n- Inside the `session` object,\
        \ you can provide the following optional fields:\n    - `browser`: The name\
        \ of the browser used (e.g., \"Chrome\", \"Firefox\").\n    - `os`: The operating\
        \ system of the device (e.g., \"Windows\", \"macOS\", \"Android\").\n\n###\
        \ Tokens\n- A valid [`TwoFactorAuthenticationToken`](https://singularity.stereov.io/docs/guides/auth/tokens#two-factor-authentication-token)\n\
        \  is required. This token will be set automatically as HTTP-only cookie through\
        \ \n  [`POST /api/auth/login`](https://singularity.stereov.io/docs/api/login)\
        \ or\n  [`POST /api/auth/step-up`](https://singularity.stereov.io/docs/api/step-up)\n\
        \  or can be retrieved from any of those endpoints' response and set as header\
        \ manually if [header authentication](https://singularity.stereov.io/docs/guides/auth/authentication#header-authentication)\
        \ \n  is enabled.\n- If this action is successful, [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token),\
        \ \n  [`RefreshToken`](https://singularity.stereov.io/docs/guides/auth/tokens#refresh-token)\
        \ and\n  [`StepUpToken`](https://singularity.stereov.io/docs/guides/auth/tokens#step-up-token)\n\
        \  will automatically be set as HTTP-only cookies.\n  \n  If [header authentication](https://singularity.stereov.io/docs/guides/auth/authentication#header-authentication)\
        \ is enabled,\n  [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token),\
        \ \n  [`RefreshToken`](https://singularity.stereov.io/docs/guides/auth/tokens#refresh-token)\
        \ and\n  [`StepUpToken`](https://singularity.stereov.io/docs/guides/auth/tokens#step-up-token)\n\
        \  will be returned in the response body and can be used in the authorization\
        \ header for upcoming requests."
      externalDocs:
        url: https://singularity.stereov.io/docs/guides/auth/two-factor#recovery
      operationId: recoverFromTotp
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/TotpRecoveryRequest"
        required: true
      responses:
        "200":
          description: "Recovery successful. If header authentication is enabled,\
            \ the response will contain all tokens."
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/TwoFactorRecoveryResponse"
        "401":
          description: |-
            The following error codes correspond to this status:
            * **`TWO_FACTOR_AUTHENTICATION_TOKEN_EXPIRED`:** Indicates that the two-factor authentication token is expired.
            * **`TWO_FACTOR_AUTHENTICATION_TOKEN_INVALID`:** Indicates that the two-factor authentication token cannot be decoded.
            * **`TWO_FACTOR_AUTHENTICATION_TOKEN_MISSING`:** Thrown when the two-factor authentication token is missing.
            * **`WRONG_TWO_FACTOR_CODE`:** Wrong two-factor code.
          content:
            application/json:
              schema: {}
        "500":
          description: |-
            The following error codes correspond to this status:
            * **`DATABASE_FAILURE`:** Exception representing a general failure related to database operations.
            * **`HASH_FAILURE`:** Exception representing a general failure related to hashing operations.
            * **`INVALID_USER_DOCUMENT`:** A requested user document was stored in an invalid format.
            * **`ACCESS_TOKEN_CACHE_FAILURE`:** Thrown when an access token could not be created due to an exception in the access token whitelist.
            * **`ACCESS_TOKEN_ENCODING_FAILURE`:** Represents an exception that occurs during the encoding process of an access token.
            * **`ACCESS_TOKEN_CREATION_FAILURE`:** Thrown when a generic exception occurred during the creation of an access token.
            * **`ACCESS_TOKEN_INVALID_PRINCIPAL_DOCUMENT_FAILURE`:** Indicates that the principal document associated with the access token is invalid.
            * **`ACCESS_TOKEN_SECRET_FAILURE`:** Represents an exception that occurs when there is a failure related to the secret required for creating an access token.
            * **`REFRESH_TOKEN_ENCODING_FAILURE`:** Represents an exception that occurs during the encoding process of a refresh token.
            * **`REFRESH_TOKEN_CREATION_FAILURE`:** Thrown when a generic exception occurred during the creation of an access token.
            * **`REFRESH_TOKEN_INVALID_PRINCIPAL_DOCUMENT_FAILURE`:** Indicates that the principal document associated with the access token is invalid.
            * **`REFRESH_TOKEN_SECRET_FAILURE`:** Represents an exception that occurs when there is a failure related to the secret required for creating a refresh token.
            * **`REFRESH_TOKEN_SESSION_UPDATE_FAILURE`:** Thrown when an exception occurs when updating the user sessions after creating a new refresh token.
            * **`STEP_UP_TOKEN_ENCODING_FAILURE`:** Represents an exception that occurs during the encoding process of a step-up token.
            * **`STEP_UP_TOKEN_SECRET_FAILURE`:** Represents an exception that occurs when there is a failure related to the secret required for creating a refresh token.
            * **`INVALID_PRINCIPAL_DOCUMENT`:** A requested principal document was stored in an invalid format.
          content:
            application/json:
              schema: {}
        "400":
          description: |-
            The following error codes correspond to this status:
            * **`TWO_FACTOR_METHOD_DISABLED`:** Two-factor authentication method is disabled.
            * **`NO_PASSWORD_PROVIDER`:** The user needs to set a password in to perform this action.
          content:
            application/json:
              schema: {}
        "207":
          description: |-
            The following error codes correspond to this status:
            * **`POST_COMMIT_SIDE_EFFECT_FAILURE`:** Exception representing a failure to perform a side effect after a successful database operation.
            * **`USER_AVATAR_MAPPING_FAILURE`:** Failed to map avatar metadata.
          content:
            application/json:
              schema: {}
        "404":
          description: |-
            The following error codes correspond to this status:
            * **`USER_NOT_FOUND`:** User not found.
          content:
            application/json:
              schema: {}
        "403":
          description: |-
            The following error codes correspond to this status:
            * **`STEP_UP_TOKEN_CREATION_FORBIDDEN`:** Thrown when a step-up token is requested from an illegal context.
          content:
            application/json:
              schema: {}
      security:
      - twoFactorAuthenticationTokenHeader: []
      - twoFactorAuthenticationTokenCookie: []
  /api/auth/2fa/email/send:
    post:
      tags:
      - Two-Factor Authentication
      summary: Send Email 2FA Code
      description: "Send an email containing a 2FA code to the user.\n\nLearn more\
        \ about email as 2FA method [here](https://singularity.stereov.io/docs/guides/auth/two-factor#email).\n\
        \nThis endpoint is used to send a 2FA email code for enabling email as a 2FA\
        \ method\nand to resend 2FA codes when authenticating user that already enabled\
        \ email as a 2FA method.\n\n>**Note:** Each request will generate a new code\
        \ and invalidate all old codes.\n\nIf email is the preferred 2FA method, an\
        \ email will be sent automatically after successful authentication\nwith the\
        \ user's password.\nYou can learn more about preferred 2FA methods [here](https://singularity.stereov.io/docs/guides/auth/two-factor#changing-the-preferred-method).\n\
        \n### Requirements\n- The user can authenticate using password. 2FA will not\
        \ work with OAuth2. \n  The OAuth2 provider will validate the second factor\
        \ if the user enabled it for the provider.\n  \n### Locale\n\nA locale can\
        \ be specified for this request. \nThe email will be sent in the specified\
        \ locale.\nYou can learn more about locale in emails [here](https://singularity.stereov.io/docs/guides/email/templates).\n\
        \nIf no locale is specified, the applications default locale will be used.\n\
        You can learn more about configuring the default locale [here](https://singularity.stereov.io/docs/guides/configuration).\n\
        \n### Tokens\n\nThere are two options: \n1. If email as a 2FA method is disabled,\
        \ you can request an email with a token to enable it.\n   In this case you\
        \ need a valid [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token).\n\
        \   If email is already enabled, this request will return `400 - BAD REQUEST`.\n\
        2. If email as 2FA method is already enabled, you can request a 2FA email\
        \ code with a valid\n   [`TwoFactorAuthenticationToken`](https://singularity.stereov.io/docs/guides/auth/tokens#two-factor-authentication-token).\n\
        \   \n>**Note:** After each email, a cooldown will be started.\n>When the\
        \ cooldown is active, no new email can be sent.\n>You can request the remaining\
        \ cooldown throw the endpoint \n>[`GET /api/auth/2fa/email/cooldown`](https://singularity.stereov.io/docs/api/get-remaining-email-two-factor-cooldown).\n\
        >The cooldown can be configured [here](https://singularity.stereov.io/docs/guides/email/configuration)."
      externalDocs:
        url: https://singularity.stereov.io/docs/guides/auth/two-factor#sending-a-2fa-code-via-email
      operationId: sendEmailTwoFactorCode
      parameters:
      - name: locale
        in: query
        required: false
        schema:
          type: string
      responses:
        "200":
          description: Success.
          content:
            '*/*':
              schema:
                $ref: "#/components/schemas/SuccessResponse"
        "500":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_ALLOWLIST_READING_FAILURE`:** Represents an exception indicating a failure when reading the allowlist for an access token cache.
            * **`DATABASE_FAILURE`:** Exception representing a general failure related to database operations.
            * **`DATABASE_ENCRYPTION_FAILURE`:** Exception representing a general failure related to database encryption operations.
            * **`EMAIL_COOLDOWN_CACHE_FAILURE`:** Thrown when an exception occurs when setting or getting cooldown.
            * **`EMAIL_AUTHENTICATION_FAILURE`:** Thrown when there is a failure related to email authentication.
            * **`INVALID_USER_DOCUMENT`:** A requested user document was stored in an invalid format.
            * **`EMAIL_SEND_FAILURE`:** Represents an exception that occurs when an email cannot be sent.
            * **`EMAIL_TEMPLATE_FAILURE`:** Thrown when there is a failure related to email template creation.
          content:
            application/json:
              schema: {}
        "401":
          description: |-
            The following error codes correspond to this status:
            * **`ACCESS_TOKEN_EXPIRED`:** Indicates that the access token is expired.
            * **`ACCESS_TOKEN_INVALID`:** Indicates that the access token cannot be decoded.
            * **`TWO_FACTOR_AUTHENTICATION_TOKEN_EXPIRED`:** Indicates that the two-factor authentication token is expired.
            * **`TWO_FACTOR_AUTHENTICATION_TOKEN_INVALID`:** Indicates that the two-factor authentication token cannot be decoded.
            * **`TWO_FACTOR_AUTHENTICATION_TOKEN_MISSING`:** Thrown when the two-factor authentication token is missing.
          content:
            application/json:
              schema: {}
        "404":
          description: |-
            The following error codes correspond to this status:
            * **`USER_NOT_FOUND`:** User not found.
          content:
            application/json:
              schema: {}
        "429":
          description: |-
            The following error codes correspond to this status:
            * **`EMAIL_COOLDOWN_ACTIVE`:** Failed to send email because cooldown is active.
          content:
            application/json:
              schema: {}
        "503":
          description: |-
            The following error codes correspond to this status:
            * **`EMAIL_DISABLED`:** Thrown when email functionality is disabled in the application.
          content:
            application/json:
              schema: {}
        "400":
          description: |-
            The following error codes correspond to this status:
            * **`NO_PASSWORD_PROVIDER`:** The user needs to set a password in to perform this action.
          content:
            application/json:
              schema: {}
        "207":
          description: |-
            The following error codes correspond to this status:
            * **`POST_COMMIT_SIDE_EFFECT_FAILURE`:** Exception representing a failure to perform a side effect after a successful database operation.
          content:
            application/json:
              schema: {}
      security:
      - accessTokenHeader: []
      - accessTokenCookie: []
      - twoFactorAuthenticationTokenHeader: []
      - twoFactorAuthenticationTokenCookie: []
  /api/auth/2fa/email/enable:
    post:
      tags:
      - Two-Factor Authentication
      summary: Enable Email as 2FA Method
      description: "Enable email as 2FA method.\n\nLearn more about email as 2FA method\
        \ [here](https://singularity.stereov.io/docs/guides/auth/two-factor#email).\n\
        \nA [security alert](https://singularity.stereov.io/docs/guides/auth/security-alerts#2fa-specific-alerts)\n\
        will be sent to the user's email if this setting is enabled and\nemail is\
        \ [enabled and configured correctly](https://singularity.stereov.io/docs/guides/email/configuration).\n\
        \n### Requirements\n- The user can authenticate using password. 2FA will not\
        \ work with OAuth2. \n  The OAuth2 provider will validate the second factor\
        \ if the user enabled it for the provider.\n\n>**Note:** If [email is enabled](https://singularity.stereov.io/docs/guides/email/configuration)\
        \ in your application,\n>email is 2FA method will be enabled by default for\
        \ every user that registers with a password.\n\n### Locale\n\nA locale can\
        \ be specified for this request. \nThe email will be sent in the specified\
        \ locale.\nYou can learn more about locale in emails [here](https://singularity.stereov.io/docs/guides/email/templates).\n\
        \nIf no locale is specified, the applications default locale will be used.\n\
        You can learn more about configuring the default locale [here](https://singularity.stereov.io/docs/guides/configuration).\n\
        \n### Tokens\n- A valid [`AccessToken`](https://singularity.stereov.io/docs/guides/auth/tokens#access-token)\
        \ is required.\n- A valid [`StepUpToken`](https://singularity.stereov.io/docs/guides/auth/tokens#step-up-token)\n\
        \  is required. This token should match user and session contained in the\
        \ `AccessToken`."
      externalDocs:
        url: https://singularity.stereov.io/docs/guides/auth/two-factor#setup-1
      operationId: enableEmailAsTwoFactorMethod
      parameters:
      - name: locale
        in: query
        required: false
        schema:
          type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/EnableEmailTwoFactorMethodRequest"
        required: true
      responses:
        "200":
          description: Updated user information.
          content:
            '*/*':
              schema:
[...]
