services:
  dev_mongo:
    image: mongodb/mongodb-community-server:latest@sha256:e8035b7c29127a8727b9f9bb611c5aae3f808cd1eca2a85f50907e59214fb0c1
    container_name: dev_mongo
    ports:
      - "27017:27017"
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: singularity
      MONGO_INITDB_ROOT_PASSWORD: singularity
    volumes:
      - dev_mongo_data:/data/db
  dev_redis:
    image: redis:latest@sha256:7b6fb55d8b0adcd77269dc52b3cfffe5f59ca5d43dec3c90dbe18aacce7942e1
    container_name: dev_redis
    ports:
      - "6379:6379"
    restart: unless-stopped
    command: ["redis-server", "--requirepass", "singularity"]
volumes:
  dev_mongo_data:
