@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');

.gradient {
    background: linear-gradient(312deg,rgba(198, 198, 245, 1) 0%, rgba(213, 213, 240, 1) 31%, rgba(255, 255, 255, 1) 52%, rgba(255, 255, 255, 1) 71%, rgba(199, 200, 255, 1) 100%);
}

[data-theme='dark'] {
    .gradient {
        background: linear-gradient(312deg,rgba(21, 21, 77, 1) 0%, rgba(25, 25, 87, 1) 31%, rgba(20, 12, 12, 1) 49%, rgba(21, 21, 77, 1) 86%, rgba(21, 21, 77, 1) 100%);
    }
}

.card {
    padding: 2rem;
    box-shadow: 0 2px 4px rgb(0 0 0 / 0.1);
    border-radius: 1rem;
    background: var(--ifm-background-color);
}
