<div style="margin-bottom: 1rem;">
    <p>{{ email_authentication.greeting | translate }}</p>
    <p>{{ email_authentication.message.1 | translate }}</p>
    <p>{{ email_authentication.message.2 | translate }}</p>
</div>
<p style="
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1.5rem;
    font-weight: 500;
    border: 0;
    border-radius: 0.375rem;
    text-decoration: none;
    text-align: center;"
>
    <strong>{{ code }}</strong>
</p>
<div>
    <p>{{ email_authentication.warning | translate }}</p>
</div>
