<div style="margin-bottom: 1rem;">
    <p>{{ identity_provider_info.greeting | translate }}</p>
    <p>{{ identity_provider_info.message.1 | translate }}</p>
    <p style="margin-top: 1.5rem;">{{ identity_provider_info.message.2 | translate }}</p>
</div>

<a style="
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    border: 0;
    border-radius: 0.375rem;
    cursor: pointer;
    background-color: {{ primary_color }};
    color: white;
    text-decoration: none;
    text-align: center;"
   href="{{ login_uri }}"
>
    <strong>{{ identity_provider_info.sign_in | translate }}</strong>
</a>

<div style="margin-top: 1.5rem;">
    <p>{{ identity_provider_info.message.3 | translate }}</p>
</div>