<div style="margin-bottom: 1rem;">
    <p>{{ no_account_info.greeting | translate }}</p>
    <p>{{ no_account_info.message.1 | translate }}</p>
    <p>{{ no_account_info.message.2 | translate }}</p>
    <p style="margin-top: 1rem">{{ no_account_info.message.3 | translate }}</p>
</div>

<a style="
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    border: 0;
    border-radius: 0.375rem;
    cursor: pointer;
    background-color: {{ primary_color }};
    color: white;
    text-decoration: none;
    text-align: center;"
   href="{{ register_uri }}"
>
    <strong>{{ no_account_info.register | translate }}</strong>
</a>
