<div style="margin-bottom: 1rem;">
    <p>{{ security_alert.greeting | translate }}</p>
    <p>{{ security_alert }}</p>
    <p>{{ security_alert.message.2 | translate }}</p>
</div>

<div style="margin-bottom: 1rem; margin-top: 1.5rem">
    <p>{{ alert_info | translate }}</p>
</div>

<a style="
    box-sizing: border-box;
    display: inline-block;
    width: 100%;
    padding: 0.75rem 1rem;
    font-size: 1rem;
    font-weight: 500;
    border: 0;
    border-radius: 0.375rem;
    cursor: pointer;
    background-color: {{ secondary_background_color }};
    color: {{ secondary_text_color }};
    text-decoration: none;
    text-align: center;"
   href="{{ security_settings_uri }}"
>
    <strong>{{ security_settings | translate }}</strong>
</a>